USE [master]
GO
/****** Object:  Database [Gusev]    Script Date: 16.06.2026 12:58:50 ******/
CREATE DATABASE [Gusev]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gusev', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Gusev.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gusev_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Gusev_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gusev].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gusev]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 16.06.2026 12:58:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 16.06.2026 12:58:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] NOT NULL,
	[CreationDate] [date] NOT NULL,
	[DeliveryDate] [date] NOT NULL,
	[PickUpPointId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[ReceiptCode] [nvarchar](50) NOT NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 16.06.2026 12:58:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pickup]    Script Date: 16.06.2026 12:58:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pickup](
	[id] [int] NOT NULL,
	[PostCode] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[Building] [nvarchar](50) NULL,
 CONSTRAINT [PK_pickup] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producer]    Script Date: 16.06.2026 12:58:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producer](
	[id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Producer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 16.06.2026 12:58:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] NOT NULL,
	[Article] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Unitid] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[Providerid] [int] NOT NULL,
	[Producerid] [int] NOT NULL,
	[Categoryid] [int] NOT NULL,
	[Discount] [decimal](18, 0) NOT NULL,
	[Stock] [decimal](18, 0) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductInOrder]    Script Date: 16.06.2026 12:58:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductInOrder](
	[id] [int] NOT NULL,
	[Orderid] [int] NOT NULL,
	[Productid] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_ProductInOrder] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provider]    Script Date: 16.06.2026 12:58:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provider](
	[id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Provider] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 16.06.2026 12:58:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 16.06.2026 12:58:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 16.06.2026 12:58:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronic] [nvarchar](50) NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([id], [Name]) VALUES (1, N'Женская обувь
')
INSERT [dbo].[Category] ([id], [Name]) VALUES (2, N'Мужская обувь
')
GO
INSERT [dbo].[Order] ([id], [CreationDate], [DeliveryDate], [PickUpPointId], [UserId], [ReceiptCode], [StatusId]) VALUES (1, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 1, 4, N'901', 1)
INSERT [dbo].[Order] ([id], [CreationDate], [DeliveryDate], [PickUpPointId], [UserId], [ReceiptCode], [StatusId]) VALUES (2, CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date), 11, 1, N'902', 1)
INSERT [dbo].[Order] ([id], [CreationDate], [DeliveryDate], [PickUpPointId], [UserId], [ReceiptCode], [StatusId]) VALUES (3, CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date), 2, 2, N'903', 1)
GO
INSERT [dbo].[OrderStatus] ([id], [Name]) VALUES (1, N'Завершен')
INSERT [dbo].[OrderStatus] ([id], [Name]) VALUES (2, N'Новый')
GO
INSERT [dbo].[pickup] ([id], [PostCode], [City], [Street], [Building]) VALUES (1, N'420151', N'  Лесной', N'  Вишневая', N'32')
INSERT [dbo].[pickup] ([id], [PostCode], [City], [Street], [Building]) VALUES (2, N'125061', N'  Лесной', N'  Подгорная', N'8')
INSERT [dbo].[pickup] ([id], [PostCode], [City], [Street], [Building]) VALUES (3, N'630370', N'  Лесной', N'  Шоссейная', N'24')
GO
INSERT [dbo].[Producer] ([id], [Name]) VALUES (1, N'Kari
')
INSERT [dbo].[Producer] ([id], [Name]) VALUES (2, N'Marco Tozzi
')
INSERT [dbo].[Producer] ([id], [Name]) VALUES (3, N'Рос
')
GO
INSERT [dbo].[Product] ([id], [Article], [Name], [Unitid], [Price], [Providerid], [Producerid], [Categoryid], [Discount], [Stock], [Description], [Photo]) VALUES (1, N'А112Т4', N'Ботинки', 1, 4990.0000, 1, 1, 1, CAST(3 AS Decimal(18, 0)), CAST(6 AS Decimal(18, 0)), N'Женские Ботинки демисезонные kari', N'res/1.jpg')
INSERT [dbo].[Product] ([id], [Article], [Name], [Unitid], [Price], [Providerid], [Producerid], [Categoryid], [Discount], [Stock], [Description], [Photo]) VALUES (2, N'F635R4', N'Ботинки', 1, 3244.0000, 2, 2, 1, CAST(2 AS Decimal(18, 0)), CAST(13 AS Decimal(18, 0)), N'Ботинки Marco Tozzi женские демисезонные, размер 39, цвет бежевый', N'res/2.jpg')
INSERT [dbo].[Product] ([id], [Article], [Name], [Unitid], [Price], [Providerid], [Producerid], [Categoryid], [Discount], [Stock], [Description], [Photo]) VALUES (3, N'H782T5', N'Туфли', 1, 4499.0000, 1, 1, 2, CAST(4 AS Decimal(18, 0)), CAST(5 AS Decimal(18, 0)), N'Туфли kari мужские классика MYZ21AW-450A, размер 43, цвет: черный', N'res/3.jpg')
GO
INSERT [dbo].[ProductInOrder] ([id], [Orderid], [Productid], [Amount]) VALUES (1, 1, 1, 2)
INSERT [dbo].[ProductInOrder] ([id], [Orderid], [Productid], [Amount]) VALUES (2, 2, 2, 1)
INSERT [dbo].[ProductInOrder] ([id], [Orderid], [Productid], [Amount]) VALUES (3, 3, 3, 10)
GO
INSERT [dbo].[Provider] ([id], [Name]) VALUES (1, N'Kari')
INSERT [dbo].[Provider] ([id], [Name]) VALUES (2, N'Обувь для вас')
GO
INSERT [dbo].[Role] ([id], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([id], [Name]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role] ([id], [Name]) VALUES (3, N'Авторизированный клиент')
GO
INSERT [dbo].[Unit] ([id], [Name]) VALUES (1, N'шт.')
GO
INSERT [dbo].[User] ([id], [Surname], [Name], [Patronic], [Login], [Password], [RoleId]) VALUES (1, N'Никифорова', N'Весения', N'Николаевна', N'94d5ous@gmail.com', N'uzWC67', 1)
INSERT [dbo].[User] ([id], [Surname], [Name], [Patronic], [Login], [Password], [RoleId]) VALUES (2, N'Сазонов', N'Руслан', N'Германович', N'uth4iz@mail.com', N'2L6KZG', 1)
INSERT [dbo].[User] ([id], [Surname], [Name], [Patronic], [Login], [Password], [RoleId]) VALUES (3, N'Одинцов', N'Серафим', N'Артёмович', N'yzls62@outlook.com', N'JlFRCZ', 1)
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[OrderStatus] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderStatus]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_pickup] FOREIGN KEY([PickUpPointId])
REFERENCES [dbo].[pickup] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_pickup]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([Categoryid])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Producer] FOREIGN KEY([Producerid])
REFERENCES [dbo].[Producer] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Producer]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Provider] FOREIGN KEY([Providerid])
REFERENCES [dbo].[Provider] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Provider]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Unit] FOREIGN KEY([Unitid])
REFERENCES [dbo].[Unit] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Unit]
GO
ALTER TABLE [dbo].[ProductInOrder]  WITH CHECK ADD  CONSTRAINT [FK_ProductInOrder_Order] FOREIGN KEY([Orderid])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[ProductInOrder] CHECK CONSTRAINT [FK_ProductInOrder_Order]
GO
ALTER TABLE [dbo].[ProductInOrder]  WITH CHECK ADD  CONSTRAINT [FK_ProductInOrder_Product] FOREIGN KEY([Amount])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[ProductInOrder] CHECK CONSTRAINT [FK_ProductInOrder_Product]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
